In [22]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.2

In [23]:
import warnings
warnings.filterwarnings('ignore')

Create an empty pandas Series

In [24]:
pd.Series()

Series([], dtype: object)

Given the X python list convert it to an Y pandas Series

In [25]:
X = ['A','B','C']
print(X, type(X))

['A', 'B', 'C'] <class 'list'>

In [26]:
Y = pd.Series(X)
print(Y, type(Y))

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

Given the X pandas Series, name it 'My letters'

In [27]:
X = pd.Series(['A','B','C'])
X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

Given the X pandas Series, show its values

In [28]:
X = pd.Series(['A','B','C'])
X.values

array(['A', 'B', 'C'], dtype=object)

Assign index names to the given X pandas Series

In [29]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']
X.index = index_names
X

first     A
second    B
third     C
dtype: object

In [30]:
X['first']

'A'

In [31]:
X['third']

'C'

In [32]:
X[1:-1]

second    B
dtype: object

In [33]:
X[::-1]

third     C
second    B
first     A
dtype: object

In [37]:
X.iloc[[0, -1]]

first    1
fifth    5
dtype: int64

Convert the given integer pandas Series to float

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float)

Reverse the given pandas Series (first element becomes last)

In [40]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [41]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [42]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [43]:
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

Given the X pandas Series, make a mask showing negative elements

In [44]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [45]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [46]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

In [47]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

In [48]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

In [49]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

False

In [50]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

In [51]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.sum()

43

In [53]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
np.mean(X)

3.7

In [55]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
#np.max(X)
X.max()

10